/* app.css */
.app {
    min-height: 100vh;
}

.container {
    background-color: #f2f5f8;
    padding: 1rem;
    margin: 3rem auto;
    max-width: 35rem;
    border: 1px solid #d1d8e0;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container.dark {
    background-color: #2d3748;
     color: #f7fafc;
}

.container.light {
    background-color: #f2f5f8;
    color: #1a202c;
}

.app.dark {
    background-color: #2d3748;
    color: #f7fafc;
}

.app.light {
    background-color: #f2f5f8;
    color: #1a202c;
}